@{
    ViewBag.Title = "Home Page";
}

<div class="card">
    @Html.ActionLink("Créer", "Index", "projets", new object { }, new { @class = "btn btn-primary" })
    <table class="table table-striped table-bordered">
        <tr>
            <th>Nom</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Aucun</td>
        </tr>
    </table>
</div>