@model documentify.ViewModel.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="card">
    <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#myModal">Créer</a>
    <span id="success-message" class="field-validation-succes text-success success-message">Projet crée avec succès.</span>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Nom</th>
            <th>Description</th>
        </tr>
        @foreach (var item in Model.projets)
        {
            <tr>
                <td>@item.projet.nom</td>
                <td>@item.projet.description</td>
                <td><a href="@item.projet_homepage_url">Voir</a></td>
            </tr>
        }
    </table>
</div>

@Html.Partial("ProjectPartial", Model)



@section Scripts
{
   @if (Model.validation == true)
   {
    <script>
        openSuccess();
    </script>
   }
   else if (Model.validation == false)
   {
    <script>
        openModal();
    </script>
   }
}
