header.navbar {
    border: none;
    margin-bottom: 15px;
}

.main {
    margin: 0 15px;
}

.jumbotron {
    background-color: white;
    margin-bottom: 0;
}

footer {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
}

.card {
    margin-bottom: 15px;
    border: 1px solid #eee;
}
